<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

      .notosanskr * {
        font-family: "Noto Sans KR", sans-serif;
      }

      * {
        font-family: "Noto Sans KR";
      }
    </style>
  </head>
  <body>
    <div class="p-[4px]">
      <div class="mt-[103px]">
        <img src="/auth/logo1.svg" alt="" width="150px" height="150px" />
      </div>
      <div class="ml-[16px] me-[16px]">
        <p class="text-[#2B2B2B] text-[24px] font-normal">술에도 이야기가 있다.</p>
        <div class="flex">
          <p class="text-[#2B2B2B] text-[24px] font-black">양조술사</p>
          <p class="text-[#2B2B2B] text-[24px] font-normal">에서</p>
        </div>
        <p class="text-[#2B2B2B] text-[24px] font-normal">당신의 이야기를 시작하세요.</p>
        <input
          type="text"
          class="w-full px-3 py-3 border rounded mt-4 focus:outline-black"
          placeholder="이메일을 입력해주세요"
        /><input
          type="password"
          class="w-full px-3 py-3 border rounded mt-4 focus:outline-black"
          placeholder="비밀번호를 입력해주세요"
        />
        <button class="rounded-[6px] w-full bg-[#FC6955] mt-4 px-3 py-3 text-white">로그인하기</button>
        <ul class="flex justify-center text-[#999999] mt-4 text-[13px]">
          <li class="me-[28px]">이메일 찾기</li>
          <li>비밀번호 찾기</li>
          <li class="ms-[28px]">회원가입</li>
        </ul>
      </div>
    </div>
  </body>
</html>
