<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>통합 검색</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
      @import url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff");

      .notosanskr * {
        font-family: "Noto Sans KR", sans-serif;
      }

      .pretendard {
        font-family: "Pretendard", pretendard-Regular;
      }

      .scroller-bar-none::-webkit-scrollbar {
        display: none;
      }

      * {
        font-family: "Noto Sans KR";
      }
    </style>
  </head>
  <body>
    <div class="mb-[16px]">
      <div class="ps-[16px] flex mb-[8px]" style="height: 48px">
        <img
          class="mr-[24px]"
          src="/search/back.svg"
          alt=""
          width="24px"
          height="24px"
        />
        <p
          class="text-[#111111] my-[14px] text-[17px] font-medium pretendard"
          style="line-height: 20.4px"
        >
          통합검색
        </p>
      </div>

      <form class="px-[16px] mb-[16px]">
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <img src="/search/search.svg" alt="" />
          </div>
          <input
            type="search"
            class="block pretendard w-full py-[11.5px] ps-[44px] font-normal text-[14px] rounded-lg bg-[#f8f8f8] placeholder-[#bababa] text-[#111111] outline-[#111111]"
            style="line-height: 16.8px"
            placeholder="검색창에 입력하세요."
            required
          />
        </div>
      </form>

      <div class="h-fit">
        <div class="flex justify-between mb-[8px]">
          <p
            class="font-medium text-[16px] ps-[16px]"
            style="line-height: 23.17px"
          >
            최근 검색어
          </p>
          <p
            class="font-normal text-[13px] mt-[1px] pretendard pe-[14px] text-[#999999]"
            style="line-height: 15.51px"
          >
            편집
          </p>
        </div>

        <div
          class="px-[16px] h-fit overflow-x-auto whitespace-nowrap scroller-bar-none flex"
        >
          <search-button class="my-[8px] h-fit flex gap-[4px]">
            <button
              class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7]"
              style="line-height: 18.82px"
            >
              막걸리
            </button>
            <button
              class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7]"
              style="line-height: 18.82px"
            >
              과하주
            </button>
            <button
              class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7]"
              style="line-height: 18.82px"
            >
              추로주
            </button>
            <button
              class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7]"
              style="line-height: 18.82px"
            >
              양조 취미
            </button>
            <button
              class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7]"
              style="line-height: 18.82px"
            >
              누룩
            </button>
            <button
              class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7]"
              style="line-height: 18.82px"
            >
              코리안보드카
            </button>
          </search-button>
        </div>

        <div class="h-fit mt-[8px]">
          <div class="flex justify-between mb-[8px]">
            <p
              class="font-medium text-[16px] ps-[16px]"
              style="line-height: 23.17px"
            >
              인기 검색어
            </p>
            <p
              class="font-normal text-[13px] mt-[1px] pretendard pe-[14px] text-[#999999]"
              style="line-height: 15.51px"
            >
              편집
            </p>
          </div>

          <div
            class="px-[16px] h-fit overflow-x-auto whitespace-nowrap scroller-bar-none flex flex-wrap"
          >
            <search-button class="my-[8px] h-fit flex gap-[4px]">
              <button
                class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7] leading-[18.82px]"
              >
                보쌈소주
              </button>
              <button
                class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7] leading-[18.82px]"
              >
                피자맥주
              </button>
              <button
                class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7] leading-[18.82px]"
              >
                추로주
              </button>
              <button
                class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7] leading-[18.82px]"
              >
                양조 취미
              </button>
              <button
                class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7] leading-[18.82px]"
              >
                누룩
              </button>
              <button
                class="px-[14px] border rounded-[16px] h-[32px] font-normal text-[13px] text-[#333333] bg-white border-[#e6e6e7] leading-[18.82px]"
              >
                코리안보드카
              </button>
            </search-button>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-[16px]">
      <p class="font-medium text-[16px] mb-[15px] leading-[23.17px]">
        카테고리별 상품 찾기
      </p>

      <div class="overflow-x-auto whitespace-nowrap scroller-bar-none flex gap-[8px]">
        <category>
          <div
            class="flex items-center ps-[22px] mb-[8px] pointer-events-none h-[56px] w-[56px] bg-[#f8f8f8] rounded-[32px]"
          >
            <img
              class="w-[12.5px] h-[24.5px]"
              src="/search/takju.svg"
              alt=""
            />
          </div>
          <p class="flex justify-center items-center text-[13px] text-[#333333]">탁주</p>
        </category>

        <category>
          <div
            class="flex items-center ps-[20px] mb-[8px] pointer-events-none h-[56px] w-[56px] bg-[#f8f8f8] rounded-[32px]"
          >
            <img
              class=""
              src="/search/cheongju.svg"
              alt=""
            />
          </div>
          <p class="flex justify-center items-center text-[13px] text-[#333333]">약주/청주</p>
        </category>

        <category>
          <div
            class="flex items-center ps-[24px] mb-[8px] pointer-events-none h-[56px] w-[56px] bg-[#f8f8f8] rounded-[32px]"
          >
            <img
              class=""
              src="/search/spirit.svg"
              alt=""
            />
          </div>
          <p class="flex justify-center items-center text-[13px] text-[#333333]">증류주</p>
        </category>

        <category>
          <div
            class="flex items-center ps-[24px] mb-[8px] pointer-events-none h-[56px] w-[56px] bg-[#f8f8f8] rounded-[32px]"
          >
            <img
              class=""
              src="/search/wind.svg"
              alt=""
            />
          </div>
          <p class="flex justify-center items-center text-[13px] text-[#333333]">과실주</p>
        </category>

        <category>
          <div
            class="flex items-center ps-[24px] mb-[8px] pointer-events-none h-[56px] w-[56px] bg-[#f8f8f8] rounded-[32px]"
          >
            <img
              class="w-[12.5px] h-[24.5px]"
              src="/search/etc.svg"
              alt=""
            />
          </div>
          <p class="flex justify-center items-center text-[13px] text-[#333333]">기타주류</p>
        </category>
      </div>
    </div>
  </body>
</html>
