<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>양조술사</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="stylesheet" href="/index/font.css" />

        <style>
            .hide_scroll::-webkit-scrollbar {
              display: none;
            }
            
            .hide_scroll {
              -ms-overflow-style: none;  /* IE and 엣지 */
              scrollbar-width: none;  /* 파이어폭스 */
            }
        </style>

    </head>

    <body>
        <div class="flex justify-between h-12">
            <div class="flex ml-[25px]">
                <img src="/index/mini_logo.svg" alt="" width="38.91px"/>
            </div>
            <div class="flex justify-evenly w-[140px]">
                <img src="/index/search.svg" alt="" width="24px"/>
                <div class="flex" onclick="location.href='/cart'">
                    <!-- 알림개수 표시 -->
                    <div class="flex absolute justify-center items-center w-4 h-4 bg-[#FC6955] rounded-lg ml-[14px] mt-[2px]">
                        <a class="text-[10px] text-white">
                            1
                        </a>
                    </div>

                    <img src="/index/shopping_cart.svg" alt="" width="24px"/>
                </div>

                <div class="flex">
                    <!-- 빨간 점 알림 표시 -->
                    <div class="absolute bg-[#FC6955] w-2 h-2 rounded-[5px] ml-[20px] mt-[7px]"></div>
                    
                    <img src="/index/notification.svg" alt="" width="24px"/>
                </div>
            </div>
        </div>

        <div class="hide_scroll flex h-[200px] mt-[7px] overflow-x-auto snap-x snap-mandatory whitespace-nowrap pr-4">
            <div class="flex-shrink-0 float-left w-[calc(100vw-32px)] h-full bg-[#F1EDFF] rounded-2xl snap-center ml-4">

            </div>

            <div class="flex-shrink-0 float-left w-[calc(100vw-32px)] h-full bg-red-400 rounded-2xl snap-center ml-4">
                
            </div>

            <div class="flex-shrink-0 float-left w-[calc(100vw-32px)] h-full bg-blue-400 rounded-2xl snap-center ml-4">
                
            </div>
        </div>

        <div class="flex justify-center mt-2">
            <div class="mx-[1.5px] w-[6px] h-[6px] bg-[#333333] border-[1px] border-black border-solid rounded-lg transition-all ease-in-out"></div>
            <div class="mx-[1.5px] w-[6px] h-[6px] bg-[#D3D3D3] rounded-lg"></div>
            <div class="mx-[1.5px] w-[6px] h-[6px] bg-[#D3D3D3] rounded-lg"></div>
            <div class="mx-[1.5px] w-[6px] h-[6px] bg-[#D3D3D3] rounded-lg"></div>
            <div class="mx-[1.5px] w-[6px] h-[6px] bg-[#D3D3D3] rounded-lg"></div>
        </div>

        <div class="flex justify-center">
            <div class="mt-[13px] rounded-lg bg-[#FDF8F1] w-[calc(100vw-36px)] h-[58px]"></div>
        </div>

        <div class="hide_scroll flex my-[14px] overflow-x-auto whitespace-nowrap pr-4">
            <div class="flex flex-col justify-center ml-[16px] mr-[4px]">
                <div class="w-16 h-16 bg-[#FDF3F1] flex justify-center rounded-[32px]">
                    <img src="/index/cat-business.svg" alt="" width="28px"/>
                </div>
                <p class="flex justify-center mt-2 text-[#333333] text-[12px]">우리동네<br>특산주류</p>
            </div>

            <div class="flex flex-col justify-center ml-[16px] mr-[4px]">
                <div class="w-16 h-16 bg-[#F6F3F2] flex justify-center rounded-[32px]">
                    <img src="/index/Variant4.svg" alt="" width="28px"/>
                </div>
                <p class="flex justify-center mt-2 text-[#333333] text-[12px]">찜한상품</p>
            </div>

            <div class="flex flex-col justify-center ml-[16px] mr-[4px]">
                <div class="w-16 h-16 bg-[#EDF1FF] flex justify-center rounded-[32px]">
                    <img src="/index/calendar.svg" alt="" width="28px"/>
                </div>
                <p class="flex justify-center mt-2 text-[#333333] text-[12px]">출석체크</p>
            </div>

            <div class="flex flex-col justify-center ml-[16px] mr-[4px]">
                <div class="w-16 h-16 bg-[#F5FFEF] flex justify-center rounded-[32px]">
                    <img src="/index/follow.svg" alt="" width="28px"/>
                </div>
                <p class="flex justify-center mt-2 text-[#333333] text-[12px]">친구초대</p>
            </div>

            <div class="flex flex-col justify-center ml-[16px] mr-[4px]">
                <div class="w-16 h-16 bg-[#F0F1F4] flex justify-center rounded-[32px]">
                    <img src="/index/notice.svg" alt="" width="28px"/>
                </div>
                <p class="flex justify-center mt-2 text-[#333333] text-[12px]">공지사항</p>
            </div>
        </div>

        <div class="w-full h-2 bg-[#F4F4F4]"></div>

        <div class="mt-[14px] ml-[18px]">
            <p class="text-[#111111] text-[20px] font-bold">오늘의 양조술사 레시피 💌</p>
            <p class="mt-2 text-[#666666] text-[13px]">당신의 기억에 남을 술</p>
        </div>

        <div class="hide_scroll mt-[14px] flex overflow-x-auto whitespace-nowrap h-[258px] pl-[10px]">
            <div class="relative ml-[8px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">이순신 장군님이 좋아했...</p>
                <div class="flex">
                    <p class="text-[12px] mt-1">추로주</p>
                    <p class="text-[8px] text-[#FC6955] mt-[8.5px] ml-[65px]">3명 남음</p>
                </div>

                <div class="mt-[3px] w-[132px] h-[13px] bg-[#F3F3F3] rounded-[20px]">
                    <!-- calc 내부 값 1.32에 퍼센트값 곱하면 됨 -->
                    <div class="flex flex-row-reverse items-center pr-[3px] w-[calc(1.32px*74)] h-[13px] rounded-[20px] bg-[#FC6955]">
                        <p class="text-[#F3F3F3] text-[6px]">
                            74%
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>

                <div class="w-fill h-9 bg-[#FFF7F6] flex justify-center items-center mt-[3px] rounded-md">
                    <p class="text-[#FC6955]">참여완료</p>
                </div>
            </div>

            <div class="relative ml-[8px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">이순신 장군님이 좋아했...</p>
                <div class="flex">
                    <p class="text-[12px] mt-1">과하주</p>
                    <p class="text-[8px] text-[#FC6955] mt-[8.5px] ml-[65px]">5명 남음</p>
                </div>

                <div class="mt-[3px] w-[132px] h-[13px] bg-[#F3F3F3] rounded-[20px]">
                    <div class="flex flex-row-reverse items-center pr-[3px] w-[calc(1.32px*50)] h-[13px] rounded-[20px] bg-[#FC6955]">
                        <p class="text-[#F3F3F3] text-[6px]">
                            50%
                        </p>
                    </div>
                </div>

                <div class="flex">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">70,000원</p>
                </div>

                <div class="w-fill h-9 bg-[#FC6955] flex justify-center items-center mt-[3px] rounded-md">
                    <p class="text-[#FFF7F6]">참여하기</p>
                </div>
            </div>
        </div>

        <div class="mt-[14px] w-full h-2 bg-[#F4F4F4]"></div>

        <div class="mt-[14px] ml-[18px]">
            <p class="text-[#111111] text-[20px] font-bold">봄 시즌 컬렉션 🌸️</p>
            <p class="mt-2 text-[#666666] text-[13px]">지금만 만나볼 수 있는 한정 주류, 놓치지 마세요</p>
        </div>

        <div class="hide_scroll mt-[14px] flex overflow-x-auto whitespace-nowrap h-[210px] pl-[10px]">
            
            <div class="relative ml-[8px] min-w-[132px] w-[132px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">화이트 트래블 머그</p>
                <p class="text-[12px] mt-1">커피빈</p>

                <div class="flex mt-2">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>
            </div>

            <div class="relative ml-[8px] min-w-[132px] w-[132px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">화이트 트래블 머그 3종...</p>
                <p class="text-[12px] mt-1">스타벅스</p>

                <div class="flex mt-2">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>
            </div>

            <div class="relative ml-[8px] min-w-[132px] w-[132px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">화이트 트래블 머그</p>
                <p class="text-[12px] mt-1">스타벅스</p>

                <div class="flex mt-2">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>
            </div>
        </div>

        <div class="mt-[14px] w-full h-2 bg-[#F4F4F4]"></div>

        <div class="mt-[14px] ml-[18px]">
            <p class="text-[#111111] text-[20px] font-bold">양조술사 주간 BEST Pick 🎉</p>
            <p class="mt-2 text-[#666666] text-[13px]">이번 주에 가장 많이 사랑받은 TOP 10</p>
        </div>

        <div class="hide_scroll mt-[14px] flex overflow-x-auto whitespace-nowrap h-[210px] pl-[10px]">
            <div class="relative ml-[8px] min-w-[132px] w-[132px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">화이트 트래블 머그</p>
                <p class="text-[12px] mt-1">커피빈</p>

                <div class="flex mt-2">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>
            </div>

            <div class="relative ml-[8px] min-w-[132px] w-[132px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">화이트 트래블 머그 3종...</p>
                <p class="text-[12px] mt-1">스타벅스</p>

                <div class="flex mt-2">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>
            </div>

            <div class="relative ml-[8px] min-w-[132px] w-[132px]">
                <div class="absolute mt-[6px] ml-[102px]">
                    <img src="/index/Property 1=default-shadow.svg" alt="" width="24px"/>
                </div>
                <img src="/index/Group 427324470.png" alt="" width="132px" height="132px"/>

                <p class="text-[#999999] text-[12px] mt-2">화이트 트래블 머그 3종...</p>
                <p class="text-[12px] mt-1">스타벅스</p>

                <div class="flex mt-2">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">10%</p>
                    <p class="pretendard-sb text-[14px] ml-1">40,000원</p>
                </div>
            </div>
        </div>

        <div class="mt-[14px] w-full h-2 bg-[#F4F4F4]"></div>
        
        <div class="mt-[14px] ml-[18px]">
            <p class="text-[#111111] text-[20px] font-bold">양조술사를 위한 전통주 🔥</p>
            <p class="mt-2 text-[#666666] text-[13px]">최근 인기가 많은 상품이에요</p>
        </div>

        <div class="flex mt-[6px] overflow-x-auto whitespace-nowrap ml-[14px]">
            <div class="flex justify-center items-center rounded-2xl h-8 bg-[#111111] px-[14px] py-[6.5px] ml-[4px]">
                <p class="text-white">전국</p>
            </div>

            <div class="flex justify-center items-center rounded-2xl h-8 px-[14px] py-[6.5px] border-[1px] border-[#E6E6E7] ml-[4px]">
                <p>경기도</p>
            </div>

            <div class="flex justify-center items-center rounded-2xl h-8 px-[14px] py-[6.5px] border-[1px] border-[#E6E6E7] ml-[4px]">
                <p>강원도</p>
            </div>

            <div class="flex justify-center items-center rounded-2xl h-8 px-[14px] py-[6.5px] border-[1px] border-[#E6E6E7] ml-[4px]">
                <p>충청도</p>
            </div>

            <div class="flex justify-center items-center rounded-2xl h-8 px-[14px] py-[6.5px] border-[1px] border-[#E6E6E7] ml-[4px]">
                <p>경상도</p>
            </div>

            <div class="flex justify-center items-center rounded-2xl h-8 px-[14px] py-[6.5px] border-[1px] border-[#E6E6E7] ml-[4px]">
                <p>전라도</p>
            </div>
        </div>

        <div class="mt-[14px] pl-[9px] pr-4">
            <div class="h-[300px] w-[168px] float-left ml-[7px]">
                <div class="relative">
                    <img class="absolute ml-[135px] mt-[7px]" src="/index/Property 1=default-shadow.svg">
                    <img src="/index/Group 427322415.png" alt="" width="168px" height="168px"/>
                </div>
                <p class="mt-2 text-[#444444] text-[12px]">블루보틀</p>
                <p class="mt-1 text-[#999999] text-[12px]">화이트 트래블 머그 3종</p>

                <div class="mt-[7px] flex items-center">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">
                        10%
                    </p>
                    <p class="pretendard-sb ml-1">
                        40,000원
                    </p>
                </div>
            </div>

            <div class="h-[300px] w-[168px] float-left ml-[7px]">
                <div class="relative">
                    <img class="absolute ml-[135px] mt-[7px]" src="/index/Property 1=default-shadow.svg">
                    <img src="/index/Group 427322415.png" alt="" width="168px" height="168px"/>
                </div>
                <p class="mt-2 text-[#444444] text-[12px]">블루보틀</p>
                <p class="mt-1 text-[#999999] text-[12px]">화이트 트래블 머그 3종</p>

                <div class="mt-[7px] flex items-center">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">
                        10%
                    </p>
                    <p class="pretendard-sb ml-1">
                        40,000원
                    </p>
                </div>
            </div>

            <div class="h-[300px] w-[168px] float-left ml-[7px]">
                <div class="relative">
                    <img class="absolute ml-[135px] mt-[7px]" src="/index/Property 1=default-shadow.svg">
                    <img src="/index/Group 427322415.png" alt="" width="168px" height="168px"/>
                </div>
                <p class="mt-2 text-[#444444] text-[12px]">블루보틀</p>
                <p class="mt-1 text-[#999999] text-[12px]">화이트 트래블 머그 3종</p>

                <div class="mt-[7px] flex items-center">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">
                        10%
                    </p>
                    <p class="pretendard-sb ml-1">
                        40,000원
                    </p>
                </div>
            </div>

            <div class="h-[300px] w-[168px] float-left ml-[7px]">
                <div class="relative">
                    <img class="absolute ml-[135px] mt-[7px]" src="/index/Property 1=default-shadow.svg">
                    <img src="/index/Group 427322415.png" alt="" width="168px" height="168px"/>
                </div>
                <p class="mt-2 text-[#444444] text-[12px]">블루보틀</p>
                <p class="mt-1 text-[#999999] text-[12px]">화이트 트래블 머그 3종</p>

                <div class="mt-[7px] flex items-center">
                    <p class="pretendard-sb text-[#FC6955] text-[14px]">
                        10%
                    </p>
                    <p class="pretendard-sb ml-1">
                        40,000원
                    </p>
                </div>
            </div>

        </div>
    </body>
</html>