<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    @import url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff");

    .notosanskr * {
      font-family: "Noto Sans KR", sans-serif;
    }

    .pretendard {
      font-family: "Pretendard", pretendard-Regular;
    }

    * {
      font-family: sans-serif;
    }
  </style>
  <script src="app.js"></script>
</head>
<body>
<div class="flex justify-between mb-[8px]">
  <div class="ps-[16px] flex" style="height: 48px" onclick="location.href='javascript:history.back();'">
    <img
            class="mr-[24px]"
            src="/index/뒤로가기.svg"
            alt=""
            width="24px"
            height="24px"
    />
    <p
            class="text-[#111111] my-[14px] text-[17px] font-medium pretendard"
            style="line-height: 20.4px"
    >
      알림
    </p>
  </div>
  <div class="me-[16px] flex">
    <p class="text-[#666666] my-[14px] text-[14px]">모두읽음</p>
  </div>
</div>
<div class="justify-start">
  <div
          class="ms-[16px] flex mt-[1px] my-[12px] mx-[4px]"
          style="height: 44px"
  >
    <button
            class="border-b-[2px] border-[#111111] font-semibold"
            id="cumu-btn1"
            onclick="handleButton(1)"
    >
      전체
    </button>
    <button
            id="cumu-btn2"
            class="ms-[20px] text-[#d3d3d3]"
            onclick="handleButton(2)"
    >
      커뮤니티
    </button>
    <button
            id="cumu-btn3"
            class="ms-[20px] text-[#d3d3d3]"
            onclick="handleButton(3)"
    >
      구매
    </button>
    <button
            id="cumu-btn4"
            class="ms-[20px] text-[#d3d3d3]"
            onclick="handleButton(4)"
    >
      공지사항
    </button>
  </div>
  <div>
    <div class="border-b-[1px] border-[#F4F4F4]">
      <p
              class="text-[#FD8777] mt-[16px] text-[13px] font-notosanskr mx-[16px]"
      >
        NEW
      </p>
      <button class="text-[15px] text-left mt-[4px] mx-[16px]">
        [이벤트]스타벅스 커피 기프티콘 무료제공 65차 이벤트 진행합니다
      </button>
      <p class="mx-[16px] text-[13px] text-[#999999] mt-[6px] mb-[10px]">
        5분 전
      </p>
    </div>
    <div class="bg-[#FFF7F6]">
      <div class="border-b-[1px] border-[#F4F4F4]">
        <p class="mx-[16px] pt-[16px] text-[#66A3FF] text-[13px] text-left">
          커뮤니티
        </p>
        <button class="text-[15px] mt-[4px] mx-[16px] text-left">
          작성한 글에 7개의 새 댓글이 달렸습니다
        </button>
        <p class="mx-[16px] mt-[6px] text-[#999999] text-[13px] text-left">
          빙수배달 노하우로 좀 공유부탁드려요 노하우 좀 부탁드려...
        </p>
        <p class="text-[13px] text-[#999999] mb-[16px] mx-[16px]">5분 전</p>
      </div>
    </div>
    <div class="border-b-[1px] border-[#F4F4F4]">
      <p class="text-[#1BA979] mx-[16px] text-[13px] mt-[16px] mb-[4px]">
        사장님 마켓
      </p>
      <button class="mb[6px] text-[15px] mx-[16px] text-left">
        등록한 판매글에 새로운 문의가 도착했습니다
      </button>
      <p class="text-[#999999] mx-[16px] text-[13px] mb-[6px]">
        칼로리가 어떻게 되나요?
      </p>
      <p class="text-[13px] mx-[16px] text-[#999999] mb-[16px]">5분 전</p>
    </div>
    <div class="border-b-[1px] border-[#F4F4F4]">
      <p class="text-[#1BA979] text-[13px] mt-[16px] mb-[4px] mx-[16px]">
        사장님 마켓
      </p>
      <button class="mb[6px] text-[15px] mx-[16px] text-left">
        배송중인 거래에 CS가 도착했습니다
      </button>
      <p class="text-[#999999] text-[13px] mb-[6px] mx-[16px]">
        택배가 집앞이 아닌 편의점으로 가서 너무 힘들었습니다.
      </p>
      <p class="text-[13px] text-[#999999] mb-[16px] mx-[16px]">5분 전</p>
    </div>
    <div class="border-b-[1px] border-[#F4F4F4]">
      <p class="mt-[16px] text-[#FD8777] text-[13px] mx-[16px]">공지사항</p>
      <button class="text-[15px] text-left mt-[4px] mx-[16px]">
        서버 점검 시간 공지. 2024.06.01. 오전 1시부터 4시까지 서버 점검을
        진행합니다. 이용에 불편함을 드려 죄송..
      </button>
      <p class="text-[#999999] text-[13px] mt-[6px] mx-[16px] mb-[16px]">
        2024.05.04.
      </p>
    </div>
  </div>
</div>
</body>
</html>