<!DOCTYPE html>
<html>
    <head>
        <title>장바구니</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://cdn.tailwindcss.com"></script>
        
        <link rel="stylesheet" href="/index/font.css" />
        <link rel="stylesheet" href="/index/button.css" />
    </head>
    <body>
        <div class="relative w-full h-12 text-center">
            <div class="self-center absolute left-4 top-3" onclick="location.href='javascript:history.back();'">
                <img src="/index/뒤로가기.svg" alt="닫기" class="w-6 h-6" />
            </div>
            <div class="pt-3">
                <p class="pretendard-mid text-[17px]">장바구니</p>
            </div>
        </div>

        <div class="px-4 py-2 flex justify-between items-center">
            <div class="flex items-center">
                <input type="checkbox" id="all" class="blue-button w-6 h-6" />
                <p class="pretendard-mid text-[#111111] text-[15px] ml-2">모두 선택</p>
            </div>
            <div class="flex gap-4">
                <p class="pretendard-reg text-[14px] text-[#666]">품절 모두 삭제</p>
                <img src="/index/Line 222-2.svg" alt="선" />
                <p class="pretendard-reg text-[14px] text-[#666]">선택 삭제</p>
            </div>
        </div>

        <div class="h-2 bg-[#F4F4F4]"></div>

        <div class="p-4 flex">
            <input type="checkbox" id="item1" class="blue-button w-6 h-6" />
            <p class="pretendard-sb text-[#111] text-[16px] ml-2">더킹소주</p>
        </div>

        <div class="py-4 pl-12 pr-4">
            <div class="flex justify-between">
                <div class="grid gap-3">
                    <p class="pretendard-reg text-[#999] text-[14px]">선택 상품금액</p>
                    <p class="pretendard-reg text-[#999] text-[14px]">총 배송비</p>
                </div>
                <div class="flex flex-col gap-3 items-end">
                    <p class="pretendard-reg text-[14px] text-[#444]">95,000원</p>
                    <p class="pretendard-reg text-[14px] text-[#444]">3,000원</p>
                </div>
            </div>
        </div>

        <div class="h-2 bg-[#F4F4F4]"></div>

        <div class="p-4">
            <p class="pretendard-sb text-[18px] text-[#111]">다른 양조술사들이 생각하는 최고의 술</p>
        </div>

        <div class="mx-4 my-2">
            <div class="flex justify-center items-center bg-[#E6E6E7] gap-3 h-[52px] rounded-md">
                <p class="text-white">총 2개</p>
                <img src="/index/Line 222.svg" alt="선" />
                <div class="flex items-center">
                    <p class="pretendard-sb text-white">98,000</p>
                    <p class="pretendard-mid text-white">원 결제</p>
                </div>
            </div>
        </div>

        <div class="mx-4 my-2">
            <div class="flex justify-center items-center bg-[#FC6955] gap-3 h-[52px] rounded-md">
                <p class="text-[#FFDBD6]">총 2개</p>
                <img src="/index/Line 222.svg" alt="선" />
                <div class="flex items-center">
                    <p class="pretendard-sb text-white">98,000</p>
                    <p class="pretendard-mid text-white">원 결제</p>
                </div>
            </div>
        </div>
    </body>
</html>