input {
    color: #888888;
}

body {
    padding-top: 48px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.HeadLine {
    font-size: 20px;
    color: #121212;
    margin-top: 32px;
    margin-left: 8px;
    font-weight: bold;
}

.RecipientName {
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 28px;
    font-size: 16px;
    padding-bottom: 24px;
}

#TextBox1 {
    border: #E8E8E8 solid 1px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: black;
}

.RecipientNumber {
    margin-left: 8px;
    margin-right: 28px;
    font-size: 16px;
    padding-bottom: 24px;
}

#TextBox2 {
    border: #E8E8E8 solid 1px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 16px;
    margin-right: 16px;
    color: black;
}

.DeliveryAddress {
    position: relative;
    margin-left: 8px;
    margin-right: 28px;
    font-size: 16px;
    padding-bottom: 24px;
}

#TextBox4 {
    width: 100%;
    border: #E8E8E8 solid 1px;
    border-radius: 8px;
    margin-top: 10px;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: black;
}

.ButtBox3 {
    position: relative;
    float: right;
    right: 0;

    margin-top: -44px;
    font-size: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    color: #EB898C;
    border: #EB898C solid 1px;
    border-radius: 25px;
    background-color: #FAF0F0;
}

#TextBox5 {
    width: 100%;
    border: #E8E8E8 solid 1px;
    border-radius: 8px;
    margin-top: 10px;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: black;
}

#TextBox6 {
    border: #E8E8E8 solid 1px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 16px;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 16px;
    width: 100%;
    color: black;
}

.RecipientRequest {
    margin-left: 8px;
    margin-right: 28px;
    margin-bottom: 48px;
    font-size: 16px;
    padding-bottom: 24px;
}

#TextBox3 {
    border: #E8E8E8 solid 1px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: black;
}

#backBtnIcon {
    margin-top: -1px;
    margin-left: -5px;
}

.header-text {
    height: 56px;
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

select {
    appearance: none; /* Remove default browser dropdown style */
    color: black; /* Set text color to black for all options */
}

.backBtn {
    float: left;
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin-left: 16px;
}

.box {
    display: flex;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #E7E7E7;
    background-color: white;
}

.ButtBox2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
}

.PlusButt {
    color: white;
    font-size: 14px;
    position: relative;
    flex: 1;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
    border-radius: 8px;
    background-color: #E96049;
}